USE [master]
GO
/****** Object:  Database [DiplomDB]    Script Date: 12.05.2021 23:51:06 ******/
CREATE DATABASE [DiplomDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiplomDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DiplomDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiplomDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DiplomDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiplomDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiplomDB]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pupils]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pupils](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Pupils] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PupilsVariants]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PupilsVariants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PupilId] [int] NOT NULL,
	[VariantId] [int] NOT NULL,
	[Completed] [bit] NULL,
	[Result] [nvarchar](50) NULL,
 CONSTRAINT [PK_PupilsVariants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskFiles]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskFiles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[TaskId] [int] NOT NULL,
 CONSTRAINT [PK_TaskFiles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskImages]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskImages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [image] NOT NULL,
	[TaskId] [int] NOT NULL,
 CONSTRAINT [PK_TaskImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskNumbers]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskNumbers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TaskNumbers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaskNumberId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Solution] [nvarchar](max) NULL,
	[Answer] [nvarchar](50) NULL,
	[TaskTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TasksVariants]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TasksVariants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VariantId] [int] NOT NULL,
	[TaskId] [int] NOT NULL,
 CONSTRAINT [PK_TasksVariants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypes]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaskTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Variants]    Script Date: 12.05.2021 23:51:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Variants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VariantTitle] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Variants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ID], [Title]) VALUES (1, N'9А')
INSERT [dbo].[Classes] ([ID], [Title]) VALUES (2, N'9Б')
INSERT [dbo].[Classes] ([ID], [Title]) VALUES (3, N'9В')
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Pupils] ON 

INSERT [dbo].[Pupils] ([ID], [ClassId], [UserId]) VALUES (1, 1, 1)
INSERT [dbo].[Pupils] ([ID], [ClassId], [UserId]) VALUES (6, 3, 15)
INSERT [dbo].[Pupils] ([ID], [ClassId], [UserId]) VALUES (1004, 1, 1009)
SET IDENTITY_INSERT [dbo].[Pupils] OFF
GO
SET IDENTITY_INSERT [dbo].[PupilsVariants] ON 

INSERT [dbo].[PupilsVariants] ([ID], [PupilId], [VariantId], [Completed], [Result]) VALUES (1002, 1, 1, 1, N'5/19')
INSERT [dbo].[PupilsVariants] ([ID], [PupilId], [VariantId], [Completed], [Result]) VALUES (1003, 1, 2, 1, N'10/19')
INSERT [dbo].[PupilsVariants] ([ID], [PupilId], [VariantId], [Completed], [Result]) VALUES (1005, 6, 1, 1, N'15/19')
SET IDENTITY_INSERT [dbo].[PupilsVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Title]) VALUES (1, N'Ученик')
INSERT [dbo].[Roles] ([ID], [Title]) VALUES (2, N'Учитель')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskFiles] ON 

INSERT [dbo].[TaskFiles] ([ID], [FileName], [TaskId]) VALUES (1, N'DEMO-12.rar', 1006)
INSERT [dbo].[TaskFiles] ([ID], [FileName], [TaskId]) VALUES (2, N'Пингвин.rar', 2024)
INSERT [dbo].[TaskFiles] ([ID], [FileName], [TaskId]) VALUES (6, N'task 14.xls', 2025)
SET IDENTITY_INSERT [dbo].[TaskFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskImages] ON 

SET IDENTITY_INSERT [dbo].[TaskImages] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskNumbers] ON 

INSERT [dbo].[TaskNumbers] ([ID], [Number], [Description]) VALUES (1, 1, N'Количественные параметры информационных объектов')
INSERT [dbo].[TaskNumbers] ([ID], [Number], [Description]) VALUES (2, 2, N'Кодирование и декодирование информации')
INSERT [dbo].[TaskNumbers] ([ID], [Number], [Description]) VALUES (3, 3, N'Значение логического выражения')
SET IDENTITY_INSERT [dbo].[TaskNumbers] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([ID], [TaskNumberId], [Description], [Solution], [Answer], [TaskTypeId]) VALUES (1002, 3, N'Напишите наименьшее целое число x, для которого истинно высказывание: (X > 2) И НЕ (X > 13). ', N'Запишем выражение в виде (X > 2) И (X <= 13). 
Значит, наименьшее число, для которого высказывание будет истинным — 3.', N'3', 1)
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[TasksVariants] ON 

INSERT [dbo].[TasksVariants] ([ID], [VariantId], [TaskId]) VALUES (1, 1, 1)
INSERT [dbo].[TasksVariants] ([ID], [VariantId], [TaskId]) VALUES (3, 1, 3)
INSERT [dbo].[TasksVariants] ([ID], [VariantId], [TaskId]) VALUES (1004, 1, 1002)
SET IDENTITY_INSERT [dbo].[TasksVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskTypes] ON 

INSERT [dbo].[TaskTypes] ([ID], [Type]) VALUES (1, N'Тестовое задание')
INSERT [dbo].[TaskTypes] ([ID], [Type]) VALUES (2, N'Развернутое задание')
SET IDENTITY_INSERT [dbo].[TaskTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Login], [Password], [RoleId], [FullName]) VALUES (1, N'1', N'1', 1, N'Пётр Палыч')
INSERT [dbo].[Users] ([ID], [Login], [Password], [RoleId], [FullName]) VALUES (12, N'1234', N'123', 2, N'Мария Ивановна')
INSERT [dbo].[Users] ([ID], [Login], [Password], [RoleId], [FullName]) VALUES (15, N'55', N'55', 1, N'Степан Абобович')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Variants] ON 

INSERT [dbo].[Variants] ([ID], [VariantTitle]) VALUES (1, N'Вариант 1')
INSERT [dbo].[Variants] ([ID], [VariantTitle]) VALUES (2, N'Вариант 2')
INSERT [dbo].[Variants] ([ID], [VariantTitle]) VALUES (1023, N'Вариант 3')
SET IDENTITY_INSERT [dbo].[Variants] OFF
GO
/****** Object:  Index [UQ_UserId]    Script Date: 12.05.2021 23:51:06 ******/
ALTER TABLE [dbo].[Pupils] ADD  CONSTRAINT [UQ_UserId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pupils]  WITH CHECK ADD  CONSTRAINT [FK_Pupils_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ID])
GO
ALTER TABLE [dbo].[Pupils] CHECK CONSTRAINT [FK_Pupils_Classes]
GO
ALTER TABLE [dbo].[Pupils]  WITH CHECK ADD  CONSTRAINT [FK_Pupils_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pupils] CHECK CONSTRAINT [FK_Pupils_Users]
GO
ALTER TABLE [dbo].[PupilsVariants]  WITH CHECK ADD  CONSTRAINT [FK_PupilsVariants_Pupils] FOREIGN KEY([PupilId])
REFERENCES [dbo].[Pupils] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PupilsVariants] CHECK CONSTRAINT [FK_PupilsVariants_Pupils]
GO
ALTER TABLE [dbo].[PupilsVariants]  WITH CHECK ADD  CONSTRAINT [FK_PupilsVariants_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[Variants] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PupilsVariants] CHECK CONSTRAINT [FK_PupilsVariants_Variants]
GO
ALTER TABLE [dbo].[TaskFiles]  WITH CHECK ADD  CONSTRAINT [FK_TaskFiles_Tasks] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([ID])
GO
ALTER TABLE [dbo].[TaskFiles] CHECK CONSTRAINT [FK_TaskFiles_Tasks]
GO
ALTER TABLE [dbo].[TaskImages]  WITH CHECK ADD  CONSTRAINT [FK_TaskImages_Tasks] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([ID])
GO
ALTER TABLE [dbo].[TaskImages] CHECK CONSTRAINT [FK_TaskImages_Tasks]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_TaskNumbers] FOREIGN KEY([TaskNumberId])
REFERENCES [dbo].[TaskNumbers] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_TaskNumbers]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_TaskTypes] FOREIGN KEY([TaskTypeId])
REFERENCES [dbo].[TaskTypes] ([ID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_TaskTypes]
GO
ALTER TABLE [dbo].[TasksVariants]  WITH CHECK ADD  CONSTRAINT [FK_TasksVariants_Tasks] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TasksVariants] CHECK CONSTRAINT [FK_TasksVariants_Tasks]
GO
ALTER TABLE [dbo].[TasksVariants]  WITH CHECK ADD  CONSTRAINT [FK_TasksVariants_Variants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[Variants] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TasksVariants] CHECK CONSTRAINT [FK_TasksVariants_Variants]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
